.flexWrapper {
  display: flex;
  gap: 20px;

  @media screen and (max-width: 768px) {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.title {
  margin-bottom: 25px;
}

.rating {
  margin-bottom: 20px;
}

.overview {
  margin-bottom: 20px;
}

.additionInfo {
  padding: 20px 0;
  margin-top: 10px;
  border-top: 2px solid #0d253f;
  border-bottom: 2px solid #0d253f;
}

.additionList {
  margin-top: 5px;
}

.additionLink {
  font-weight: 600;
  text-decoration: none;
  color: #0d253f;
  transition: color 300ms linear;

  &:hover,
  &:focus {
    color: #01b4e4;
  }
}
